/* =========================
   STAFF — BLOC CENTRAL
   ========================= */

.staff_heading {
    width: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 0 0 80px;

    margin-top: -2px;
}

.staff_label {
    font-family: 'Italiana', serif;

    color: #fff;
   
   text-shadow:
    0 1px 3px rgba(70,55,60,.45),
    0 0 8px rgba(255,255,255,.25);

    font-size: 12px;
    letter-spacing: 5px;

    text-transform: uppercase;

    margin-right: -4px;
    margin-bottom: 4px;
}


/* =========================
   STAFF — LUNE ANIMÉE
   ========================= */

.staff_moon {
    width: 34px;
    height: 34px;
    position: relative;
    border-radius: 50%;

    background: rgba(255,255,255,.95);

    box-shadow:
        0 0 5px rgba(255,255,255,.55),
        0 0 12px rgba(255,255,255,.20);

    overflow: hidden;
}

.staff_moon_cover {
    position: absolute;

    width: 34px;
    height: 34px;

    top: 0;
    left: 0;

    border-radius: 50%;

    background: #c9b2b4;

    animation: staffMoonAnimation 3.2s ease-in-out infinite alternate;
}

@keyframes staffMoonAnimation {

    0% {
        transform: translateX(-24px);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(24px);
    }
}
